@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#root {
  width: 100%;
  height: 100%;
}

.hero.login:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(239, 239, 239);
  background: -moz-radial-gradient(
    circle,
    rgba(239, 239, 239, 1) 0%,
    rgba(221, 214, 254, 1) 33%,
    rgba(216, 210, 255, 1) 66%,
    rgba(239, 239, 239, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(239, 239, 239, 1) 0%,
    rgba(221, 214, 254, 1) 33%,
    rgba(216, 210, 255, 1) 66%,
    rgba(239, 239, 239, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(239, 239, 239, 1) 0%,
    rgba(221, 214, 254, 1) 33%,
    rgba(216, 210, 255, 1) 66%,
    rgba(239, 239, 239, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efefef",endColorstr="#efefef",GradientType=1);
}
.menu-dropdown {
  visibility: hidden;
  opacity: 0;
}

.table :where(thead, tfoot) {
  color: var(--fallback-bc, oklch(var(--bk)));
}

.input:focus,
.input:focus-within {
  outline-width: 1px;
  outline-offset: 1px;

  box-sizing: border-box;
}

.time-picker::-webkit-scrollbar {
  display: none;
}

.time-picker {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.inherit.input:has(> input[disabled]),
.inherit.input-disabled,
.inherit.input:disabled,
.inherit.input[disabled] {
  background-color: inherit !important;
  color: var(--fallback-bc3, oklch(var(--bc3)));
}

.inherit.textarea-disabled,
.inherit.textarea:disabled,
.inherit.textarea[disabled] {
  background-color: inherit !important;
  color: var(--fallback-bc3, oklch(var(--bc3)));
}

.btn:focus-visible {
  outline: none !important;
}

@keyframes progress {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

.tooltip:before {
  width: unset;
  word-break: break-word;
}

#range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid #201b7f;
  border-color: var(--thumb-color); /* CSS 변수 적용 */
  /* margin-left: var(--thumb-position); */
}

#range-input::-webkit-slider-thumb:hover {
  background-color: #fff; /* hover 상태에서도 색상 고정 */
}
#range-input::-moz-range-thumb {
  background-color: #fff;
  border-radius: 50%;
  /* margin-left: var(--thumb-position); */
  cursor: pointer;
}

#range-input::-moz-range-thumb:hover {
  background-color: #fff; /* hover 상태에서도 색상 고정 */
}

#range-input {
  position: relative;
  width: 100%;
  height: 16px;
  background: linear-gradient(
    to right,
    rgba(32, 27, 127, 1) 0%,
    rgba(32, 27, 127, 1) 10%,
    rgba(36, 32, 156, 1) 10%,
    rgba(36, 32, 156, 1) 20%,
    rgba(32, 74, 182, 1) 20%,
    rgba(32, 74, 182, 1) 30%,
    rgba(40, 109, 234, 1) 30%,
    rgba(40, 109, 234, 1) 40%,
    rgba(39, 167, 230, 1) 40%,
    rgba(39, 167, 230, 1) 50%,
    rgba(252, 123, 42, 1) 50%,
    rgba(252, 123, 42, 1) 60%,
    rgba(254, 84, 35, 1) 60%,
    rgba(254, 84, 35, 1) 70%,
    rgba(219, 71, 40, 1) 70%,
    rgba(219, 71, 40, 1) 80%,
    rgba(185, 31, 31, 1) 80%,
    rgba(185, 31, 31, 1) 90%,
    rgba(141, 24, 30, 1) 90%,
    rgba(141, 24, 30, 1) 100%
  );

  font-size: 0;
}
/* #range-input:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 3.5px 6.1px 3.5px;
  border-color: transparent transparent #ff0e73 transparent;
  transform: rotate(180deg);
  position: absolute;
  top: -16px;
  left: var(--triangle-position);
} */

.triangle-pointer {
  /* width: 0px;
  height: 0px;
  border-style: solid;

  border-width: 4px 3.5px 0 3.5px;
  border-color: #ff0e73 transparent transparent transparent;
  transform: rotate(0deg);
  position: absolute;
  top: -16px; */
  position: absolute;
  width: 6px;
  top: -16px;
}

/* .triangle-bottom-rounded {
  position: relative;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #fff;
}
.triangle-bottom-rounded::after {
  content: "";
  position: absolute;
  top: -30px;
  left: -30px;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
} */
